name: Publish Microsoft Store
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

jobs:
  publish_windows_release:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build & Publish android
        uses: Spaccesi/flutter-actions-suite@main
        with:
          run-test: 'false'
          run-build-runner: 'false'
          run-analyze: 'false'
          run-license: 'false'
          build-platform: 'windows'
          publish-destination: 'store'
          microsoft-partner-center-tenant-id: ${{ secrets.PARTNER_CENTER_TENANT_ID }}
          microsoft-partner-center-seller-id: ${{ secrets.PARTNER_CENTER_SELLER_ID }}
          microsoft-center-client-id: ${{ secrets.PARTNER_CENTER_CLIENT_ID }}
          microsoft-partner-center-client-secret: ${{ secrets.PARTNER_CENTER_CLIENT_SECRET }}
