name: Publish Android Release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

jobs:
  publish_android_release:
    name: Generate Android Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build & Publish android
        uses: Spaccesi/flutter-actions-suite@main
        with:
          run-test: 'false'
          run-build-runner: 'false'
          run-analyze: 'false'
          run-license: 'false'
          build-platform: 'android'
          publish-destination: 'store'
          android-store-file-base64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          android-keystore-password: ${{ secrets.ANDROID_STORE_PASSWORD }}
          android-keystore-alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          android-key-password:  ${{ secrets.ANDROID_KEY_PASSWORD }}
          android-local-properties-file: ${{ secrets.ANDROID_LOCAL_PROPERTIES_FILE }}
          android-playstore-account-key: ${{ secrets.ANDROID_PLAYSTORE_ACCOUNT_KEY }}
