name: Publish Snap to Snapcraft
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

jobs:
  publish_linux_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5


      - name: Build & Publish android
        uses: Spaccesi/flutter-actions-suite@main
        with:
          run-test: 'false'
          run-build-runner: 'false'
          run-analyze: 'false'
          run-license: 'false'
          build-platform: 'linux'
          publish-destination: 'store'
          snap-store-token: ${{ secrets.SNAPCRAFT_LOGIN }}

